body {
position: relative;
font-family:'Reimin Light',serif/*'Haruhi Gakuen'*/;
}

#wrapper{
position: absolute;
max-width: 1200px;
top: 30px;
left: 600px;
/*margin: 100px 20px 0 50%;*/
/*float:right;*/
}

#chara{
position: fixed;
}

#content
{
   margin-left:auto;
   margin-right:auto;
   width:1200px;
}

.comment{
    position:relative;
    /*max-width: 80%;
    /*height:80px;*/
    background:#FFFFFF;
    padding:10px;
    text-align:center;
    border:2px solid #000000;
    color:#000000;
    /*font-family: 'Sawarabi Mincho';*/
    font-size:30px;
    border-radius:9px;
    -webkit-border-radius:9px;
    -moz-border-radius:9px;
}
.comment:after,.comment:before{
    border: solid transparent;
    content:'';
    height:0;
    width:0;
    pointer-events:none;
    position:absolute;
    right:100%;
    top:77%;
}
.comment:after{
    border-color: rgba(255, 253, 214, 0);
    border-top-width:5px;
    border-bottom-width:5px;
    border-left-width:28px;
    border-right-width:28px;
    margin-top: -5px;
    border-right-color:#FFFFFF;
}
.comment:before{
    border-color: rgba(0, 0, 0, 0);
    border-top-width:6px;
    border-bottom-width:6px;
    border-left-width:33px;
    border-right-width:33px;
    margin-top: -6px;
    margin-right: 1px;
    border-right-color:#000000;
}
